{
    "singleQuote": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": true
    "overrides": [
    {
        "files": ["*.html"],
        "options": {
            "parser": "go-template"
        }
    }
]
}
