{
    "singleQuote": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": true,
    {
      "plugins": ["prettier-plugin-go-template"]
    }
}
