{{ partial "head.html" . }} {{ partial "header.html" . }}

<section class="blog-list-page grid">
  <h1>{{ .Title }}</h1>
  {{ range (.Paginator 5).Pages }}
  <article class="">
    <img
      loading="lazy"
      class="fp__img fit-img"
      src="{{ .Params.thumbnail }}"
      alt="{{ .Params.alt }}"
    />
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </article>
  {{ end }}
</section>
<!-- pagination -->
<section class="list-page-pagination grid">
  {{ partial "pagination.html" . }}
</section>
{{ partial "footer.html" . }}
