{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main class="journal-list">
  <ul class="post-list">
    {{ range (.Paginator 9).Pages }}
    <li class="post-card">
      <article>
        <img src="{{ .Params.thumbnail }}" alt="{{ .Params.alt }}">
        <a href="{{ .Permalink }}">{{ .Title }}</a><br />
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      </article>
      <!-- meta -->
    </li>
    {{ end }}
  </ul>
  <!-- pagination -->
  {{ partial "pagination.html" . }}
</main>
{{ partial "footer.html" . }}
