{{ define "main" }}
  <section class="wrapper">
    <div class="center region">
      <h1>{{ .Title }}</h1>
      <ul class="post-list stack list-reset">
        {{ $posts := where .Site.RegularPages "Section" "journal" }}
        {{ $paginator := .Paginate $posts 10 }}
        {{ range $paginator.Pages }}
          <li>
            <article class="post-list__card">
              <div class="sidebar">
                <div class="stack">
                  <h3>
                    <a
                      aria-label="View post {{ .Title }}"
                      href="{{ .Permalink }}"
                    >
                      {{ .Title }}
                    </a>
                  </h3>
                  <time>{{ .Date.Format "January 2, 2006" }}</time>
                </div>
                {{ partial "list-thumb.html" . }}
              </div>
            </article>
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="post-list__pagination wrapper">
      <div class="region">
        {{ partial "pagination" . }}
      </div>
    </div>
  </section>
{{ end }}
