{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="single-page">
  <article class="single-post">
    <h2>{{ .Title }}</h2>
    <div class="single-post__body">
      <div class="post__meta">
        <a href="{{ .RelPermalink }}">
          <time>
            {{ .Date.Format "January 2, 2006" }}
          </time>
          {{ if .Params.External }} - <span> for {{ .Params.External.Host }}</span>
          {{ end }}
        </a>
      </div>
      {{ .Content }}
    </div>
  </article>
</div>
{{ partial "footer.html" . }}
