{{ partial "head.html" . }}
{{ partial "header.html" . }}

<article class="journal-post grid flow">
    <figure class="jp__figure">
        <img class="border-radius--lg" src="{{ .Params.image }}" alt="{{ .Params.alt }}" />
        <figcaption>
            <p>{{ .Params.caption }}</p>
        </figcaption>
    </figure>
    <div class="post__title flow">
        <h1>{{ .Title }}</h1>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
    </div>
    <div class="post__content flow">
        {{ .Content }}
    </div>
    <!-- Post info partial. Parent class ".jp__info" -->
    {{ partial "post_info.html" . }}

    <!-- Post gallery partial. Parent class ".jp__gallery" -->
    {{ partial "post_gallery.html" . }}

    <!-- Pagination partial. Parent class ".jp__pagination" -->
    {{ partial "single-pagination.html" .}}

</article>


{{ partial "footer.html" . }}
