@use 'layer/reset';
@use 'layer/default';
@use 'layer/layout';

// temporary because SVG stretches
h1 svg {
  width: 50px;
  height: 50px;
}

.visually-hidden:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
