{{ partial "head.html" . }}
<div class="page">
  {{ partial "header.html" . }}
  <ul class="posts">
    {{ range (.Paginator 5).Pages }}
    <li class="post">
      <h2>{{ .Title }}</h2>
      <article class="post__body">
        <p class="post__meta">
          <a href="{{ .RelPermalink }}">
            <time>
              {{ .Date.Format "January 2, 2006" }}
            </time>
            {{ if .Params.External }} - <span> for {{ .Params.External.Host }}</span>
            {{ end }}
          </a>
        </p>
        {{ .Content }}
      </article>
      
    </li>

    {{ end }}
  </ul>
  {{ partial "footer.html" . }}
</div>
