{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<ul class="page__main">
  {{ range (.Paginator 5).Pages }}

  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <span>
      <time>
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ if .Params.External }} - <span> for {{ .Params.External.Host }}</span>
      {{ end }}
    </span>
    <div>
      {{ .Summary }}
    </div>
    <p>
      <small>
        <a href="{{ .RelPermalink }}">
          Read More
        </a>
      </small>
    </p>
  </li>

  {{ end }}
</ul>
{{ partial "footer.html" . }}
