{{ define "main" }}
  <article class="about">
    <div
      class="wrapper"
      data-bleed-right
    >
      <div
        class="switcher"
        data-direction="rtl"
      >
        <!-- If feature image exists... -->
        {{ if .Params.image }}
          <!-- Render feature partial -->
          {{ partial "feature.html" . }}
          <!-- End -->
        {{ end }}


        <div class="portrait__content">
          <div class="about__content">
            <div class="about__title">
              <div class="center">
                <h1>
                  {{ .Title }}
                </h1>
              </div>
            </div>

            <div class="center stack">
              <div class="flow">
                {{ .Content }}
              </div>
              <aside class="about__sidebar">
                {{ partial "sidebar" . }}
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{{ end }}
