{{ define "main" }}
  <article class="post switcher">
    <!-- If feature image exists... -->
    {{ if .Params.image }}
      <!-- Render feature partial -->
      {{ partial "feature.html" . }}
      <!-- End -->
    {{ end }}


    <div class="post__content">
      <h1>
        {{ .Title }}
      </h1>
      <div
        class="sidebar"
        data-direction="rtl"
      >
        <div class="post__copy copy flow">
          {{ .Content }}
        </div>
        <aside>
          {{ partial "sidebar" . }}
        </aside>
      </div>
    </div>
  </article>
{{ end }}
