{{ partial "head" . }}
<body>
  <div class="page-wrap">
    <!-- SVG filters -->
    <!-- 💡 https://danieldarrenjones.com/ -->
    <svg
      class="visually-hidden"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      height="0"
      width="0"
    >
      <defs>
        <filter id="roughEdges">
          <feTurbulence
            type="fractalNoise"
            id="turbulence"
            baseFrequency="0.2"
            numOctaves="3"
          />
          <feDisplacementMap
            id="displacement"
            in="SourceGraphic"
            scale="4"
          />
        </filter>
      </defs>
    </svg>
    {{ partial "header" . }}
    <main
      id="main-content"
      class="main-content"
    >
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "footer" . }}
  </div>
</body>
