{{ partial "head" . }}
<body>
  <div class="page-wrap">
    <!-- SVG filters -->
    <!-- 💡 https://danieldarrenjones.com/ -->
    <svg
      class="visually-hidden"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      height="0"
      width="0"
    >
      <defs>
        <filter id="noiseFilter">
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.85"
            numOctaves="1"
            stitchTiles="stitch"
          />
        </filter>
        <rect
          width="100%"
          height="100%"
          filter="url(#noiseFilter)"
        />
        <filter id="roughEdges">
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.09"
            numOctaves="10"
          />
          <feDisplacementMap
            in="SourceGraphic"
            scale="20"
          />
        </filter>
      </defs>
    </svg>
    {{ partial "header" . }}
    <main
      id="main-content"
      class="main-content"
    >
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "footer" . }}
  </div>
</body>
