{{ partial "header.html" . }}

<section class="list-page grid">
  <h1 class="lp__title">{{ .Title }}</h1>
  <section class="post-list">
    {{ range (.Paginator 16).Pages }} {{ if eq .Section "journal" }}
    <article class="lp__post lp__post--blog">
      <img
        loading="lazy"
        src="{{ .Params.thumbnail }}"
        alt="thumbnail for {{ .Title }}"
      />
      <h3>{{ .Title }}</h3>
      <p>{{ .Summary | truncate 120 }}</p>
      <span>
        <a href="{{ .Permalink }}">Read more</a>
        &#8594;
      </span>
    </article>
    {{ else if eq .Section "links" }}
    <article class="lp__post lp__post--link">
      <h3>{{ .Title }}</h3>
      {{ .Content }}
      <span class="external-link">
        <a
          aria-label="{{ .Title }} (opens in new window)"
          href="{{ .Params.href}}"
          rel="noopener"
          target="_blank"
        >
          View
        </a>
        <span class="link-icon">&#8599;</span>
      </span>
    </article>
    {{ end }} {{ end }}
  </section>
  {{ partial "pagination" . }}
</section>

{{ partial "footer.html" . }}
