{{ define "main" }}
  <article class="journal__post">
    <div
      class="wrapper"
      data-bleed-right
    >
      <div
        class="switcher"
        data-direction="rtl"
      >
        <!-- If feature image exists... -->
        {{ if .Params.image }}
          <!-- Render feature partial -->
          {{ partial "feature.html" . }}
          <!-- End -->
        {{ end }}


        <div class="portrait__content">
          <div class="post__content">
            <div class="post__title">
              <div class="center">
                <h1>{{ .Title }}</h1>
              </div>
            </div>
            <div class="center stack">
              <time class="post__time">
                {{ .Date.Format "January 2, 2006" }}
              </time>
              <div class="flow">
                {{ .Content }}
                {{ if .Params.gallery }}
                  {{ partial "post_gallery.html" . }}
                {{ end }}


                <aside class="post__meta">
                  {{ partial "meta.html" . }}
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="wrapper">
    <div class="post__pagination">
      {{ partial "single-pagination.html" . }}
    </div>
  </div>
{{ end }}
