{{ define "main" }}
  <article>
    <h1 class="post__title">
      {{ .Title }}
    </h1>

    <div class="post__body">
      <!-- If feature image exists... -->
      {{ if .Params.image }}
        <!-- Render feature partial -->
        {{ partial "feature.html" . }}
        <!-- End -->
      {{ end }}


      <div class="post__content">
        <div
          class="sidebar"
          data-direction="rtl"
        >
          <div class="flow">
            {{ .Content }}
          </div>
          <aside>
            {{ partial "sidebar" . }}
          </aside>
        </div>
      </div>
    </div>
  </article>
  {{ partial "single-pagination.html" . }}
{{ end }}
