{{ partial "head.html" . }}
{{ partial "header.html" . }}
<section class="about-page">
  <main class="about__content">
    <h1 style="display: none">{{ .Title }}</h1>
    <article>
      {{ .Content }}
    </article>
  </main>
  <aside class="about__sidebar">
    <h2>More Info</h2>
    <ul>
      <li>
        <a href="/uses/">Uses</a>
      </li>
      <li>
        <a href="https://pinboard.in/u:jasonwhite">Links</a>
      </li>
    </ul>
    <h2>Blog Roll</h2>
    <ul>
      <li>
        <a href="http://nikkiblair.com" target="_blank">Nikki Blair</a>
      </li>
      <li>
        <a href="https://www.nduboisphotos.com/" target="_blank">Nicole Du Bois</a>
      </li>
      <li>
        <a href="https://johncranford.com/" target="_blank">John Cranford</a>
      </li>
      <li>
        <a href="https://chrisglass.com/" target="_blank">Chris Glass</a>
      </li>
      <li>
        <a href="https://little-deaths.com/" target="_blank">Vince Griffin</a>
      </li>
      <li>
        <a href="https://bkvmedia.com/" target="_blank">Blaine Karper</a>
      </li>
      <li>
        <a href="https://benmacphotos.com/" target="_blank">Benjamin MacMaster</a>
      </li>
      <li>
        <a href="https://thesarahmartin.com/" target="_blank">Sarah Martin</a>
      </li>
      <li>
        <a href="https://scottyperry.co/" target="_blank">Scotty Perry</a>
      </li>
    </ul>
  </aside>
</section>
{{ partial "footer.html" . }}
