{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="portfolio-page" role="main">
  <section class="portfolio__content">
    <h1>{{ .Title }}</h1>
    <article>
      {{ .Content }}
    </article>
    <section class="portfolio__work">
      <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FgchoBSLZY6OSJkR4wG3MqK%2FStores-Checklist%3Fpage-id%3D687%253A1200%26node-id%3D689%253A1353%26viewport%3D241%252C48%252C0.45%26scaling%3Dscale-down%26starting-point-node-id%3D689%253A1353" allowfullscreen></iframe>
    </section>
  </section>
</main>
