{{ partial "header.html" . }}
<article class="todo-page grid flow--lg">
  <header class="post__title">
    <h1>{{ .Title }}</h1>
  </header>
  <section class="post__content">{{ .Content }}</section>
  {{ range $.Site.Data.todo }}
  <section class="todo__block todo__block--nd">
    <h2>Not done</h2>
    <ul class="list-reset">
      {{ range .NotDone }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </section>
  <section class="todo__block todo__block--d">
    <h2>Done</h2>
    <ul class="list-reset">
      {{ range .Done }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</article>
{{ partial "footer.html" . }}
