{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="uses-page" role="main">
  <section class="uses__content">
    <h1>{{ .Title }}</h1>
    <article>
      {{ .Content }}
    </article>
  </section>

  {{ range $.Site.Data.uses }}
    <section class="uses__block">
      <h3>Workstation</h3>
      <div class="uses__block-content">
        <ul class="uses__list">
          {{ range .workstation }}
            <li class="uses__item">
              {{ . }}
            </li>
          {{ end }}
        </ul>
      </div>
    </section>

    <section class="uses__block">
      <h3>Apps</h3>
      <div class="uses__block-content">
        <ul class="uses__list">
          {{ range .apps }}
            <li>
              <a href="{{ .url }}" target="_blank">
                <h4>{{ .name }}</h4>
              </a>
              <p>{{ .desc | markdownify }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
    </section>

    <section class="uses__block">
      <h3>Cameras</h3>
      <div class="uses__block-content">
        <ul class="uses__list">
          {{ range .cameras }}
            <li class="uses__item">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </section>
    
    <section class="uses__block">
      <h3>Lenses</h3>
      <div class="uses__block-content">
        <ul class="uses__list">
          {{ range .lenses }}
          <li class="uses__item">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </section>

    <section class="uses__block">
      <h3>Scanning Rig</h3>
      <div class="uses__block-content">
        <ul class="uses__list">
          {{ range .scanning }}
            <li class="uses__item">
              {{ . }}
            </li>
          {{ end }}
        </ul>
      </div>
    </section>
    <section class="uses__block">
      <h3>Film</h3>
      <div class="uses__block-content">
        <ul class="uses__list">
          {{ range .film }}
            <li class="uses__item uses__item--film">
              <h4>{{ .type }}</h4>
              <ul>
                {{ range .stocks }}
                  <li>
                    {{ . }}
                  </li>
                {{ end }}
              </ul>
              <p>{{ .desc | markdownify }}</p>
              
              <p><strong>Development: </strong>{{ .dev | markdownify }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
    </section>
  {{ end }}
</main>

{{ partial "footer.html" . }}
