{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="uses-page" role="main">
  <section class="uses__content">
    <h1>{{ .Title }}</h1>
    <article>
      {{ .Content }}
    </article>
  </section>
  <section class="uses__block">
    <h3>Cameras</h3>
    <div class="uses__block-content">
      <ul class="uses__list">
        <li class="uses__item">Leica M6</li>
        <li class="uses__item">Hasselblad 500c</li>
        <li class="uses__item">Olympus XA 2</li>
        <li class="uses__item">Nikon D800E</li>
      </ul>
    </div>
  </section>
  
  <section class="uses__block">
    <h3>Lenses</h3>
    <div class="uses__block-content">
      <ul class="uses__list">
        <li class="uses__item">Leica Summicron ASPH 35mm f/2</li>
        <li class="uses__item">Leica (Leitz Canada) Tele-Elmarit 90mm f/2.8</li>
        <li class="uses__item">Carl Zeiss 80mm Planar f/2.8 C</li>
        <li class="uses__item">Carl Zeiss 150mm Sonnar f/4 C T*</li>
        <li class="uses__item">Sigma 70mm f/2.8 DG Macro</li>
      </ul>
    </div>
  </section>

  <section class="uses__block">
    <h3>Scanning Rig</h3>
    <div class="uses__block-content">
      <ul class="uses__list">
        <li class="uses__item">Nikon D800E &amp; Sigma 70mm DG Macro</li>
        <li class="uses__item">ALZO copy stand</li>
        <li class="uses__item">Negative Supply Basic Light</li>
        <li class="uses__item">Negative Supply MK1</li>
        <li class="uses__item">Negative Supply 120</li>
        <li class="uses__item">Negative Supply MK2</li>
      </ul>
    </div>
  </section>

  <section class="uses__block">
    <h3>Workstation</h3>
    <div class="uses__block-content">
      <ul class="uses__list">
        <li>2017 13" MacBook Pro</li>
        <li>A desktop running Manjaro Linux. It needs to be converted into a gaming machine</li>
        <li>Happy Hacking Pro2 Keyboard - Black on black</li>
        <li>Logitech MX Master 3</li>
        <li>Uplift Commercial standing desk with a 6' butcher block countertop. I love this way more than I thought I would. So much room for activities!</li>
        <li>Old Eames Aluminum Group chair. Still going strong for a 1983 model.</li>
        <li>Vivo rigid single-arm monitor mount. I've tried multiple articulating monitor arms and disliked all of them. This one is cheap and simple.
      </ul>
    </div>
  </section>
</main>

{{ partial "footer.html" . }}
