.secondary {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 400;
  color: var(--fg-color--darker);
}

.border-radius {
  border-radius: var(--border-radius);
}

.border-radius--lg {
  border-radius: var(--border-radius--lg);
}

.border-radius--full {
  border-radius: var(--border-radius--full);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Set image to a 1:1 aspect ratio */
.square {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
}
