/* Modern reset: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */

img,
picture {
  width: 100%;
  display: block;
}

img {
  height: auto;
}

/* Undo margins on figure elements */

figure {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */

textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */

:target {
  scroll-margin-block: 5ex;
}

/* @font-face here */

@font-face {
  font-family: "Label";
  src: url("/fonts/Impact-Label.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InterV";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "InterV";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --color-dark: #090807;
  --color-light: #FCF6F3;
  --color-middle: #ccc;
  --color-primary: #FF5810;
  --color-primary-dark: #D64000;
  --color-primary-dark-red: #111;
  --color-secondary: #2F4446;
  --color-tertiary: red;
  --color-primary-rgb: 255, 88, 16;
  --color-dark-rgb: 9, 8, 7;
  --color-light-rgb: 252, 246, 243;
  --color-dark-gray: #232323;
  --space-zero: clamp(0rem, -0.01rem + 0.06vw, 0.0625rem);
  --space-3xs: clamp(0.25rem, 0.23rem + 0.12vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.45rem + 0.23vw, 0.75rem);
  --space-xs: clamp(0.75rem, 0.68rem + 0.35vw, 1.125rem);
  --space-s: clamp(1rem, 0.91rem + 0.46vw, 1.5rem);
  --space-m: clamp(1.5rem, 1.36rem + 0.69vw, 2.25rem);
  --space-l: clamp(2rem, 1.81rem + 0.93vw, 3rem);
  --space-xl: clamp(3rem, 2.72rem + 1.39vw, 4.5rem);
  --space-2xl: clamp(4rem, 3.63rem + 1.85vw, 6rem);
  --space-3xl: clamp(6rem, 5.44rem + 2.78vw, 9rem);
  --space-4xl: clamp(8rem, 7.26rem + 3.70vw, 12rem);
  --space-3xs-2xs: clamp(0.25rem, 0.16rem + 0.46vw, 0.75rem);
  --space-2xs-xs: clamp(0.5rem, 0.38rem + 0.58vw, 1.125rem);
  --space-xs-s: clamp(0.75rem, 0.61rem + 0.69vw, 1.5rem);
  --space-s-m: clamp(1rem, 0.77rem + 1.16vw, 2.25rem);
  --space-m-l: clamp(1.5rem, 1.22rem + 1.39vw, 3rem);
  --space-l-xl: clamp(2rem, 1.54rem + 2.31vw, 4.5rem);
  --space-xl-2xl: clamp(3rem, 2.44rem + 2.78vw, 6rem);
  --space-2xl-3xl: clamp(4rem, 3.07rem + 4.63vw, 9rem);
  --space-3xl-4xl: clamp(6rem, 4.89rem + 5.56vw, 12rem);
  --space-s-l: clamp(1rem, 0.63rem + 1.85vw, 3rem);
  --space-s-xl: clamp(1rem, 0.35rem + 3.24vw, 4.5rem);
  --space-m-4xl: clamp(2.25rem, 0.44rem + 9.03vw, 12rem);
  --size-step-00: clamp(0.75rem, 0.68rem + 0.35vw, 1.125rem);
  --size-step-0: clamp(1rem, 0.91rem + 0.46vw, 1.5rem);
  --size-step-1: clamp(1.333125rem, 1.21rem + 0.62vw, 1.999375rem);
  --size-step-2: clamp(1.776875rem, 1.61rem + 0.82vw, 2.665625rem);
  --size-step-3: clamp(2.36875rem, 2.15rem + 1.10vw, 3.553125rem);
  --size-step-4: clamp(3.1575rem, 2.87rem + 1.46vw, 4.73625rem);
  --size-step-5: clamp(4.20875rem, 3.82rem + 1.95vw, 6.313125rem);
  --size-step-6: clamp(5.61rem, 5.09rem + 2.60vw, 8.415625rem);
  --leading-tight: 0.9;
  --leading-flat: 1;
  --leading-fine: 1.15;
  --leading-loose: 1.7;
  --font-base: InterV,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --gutter: var(--space-s-l);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --leading-standard: 1.5;
  --measure: 60ch;
  --letters-tight: -0.125rem;
  --wrapper-max-width: 2048px;
  --border: 1px solid #666;
}

/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

body {
  background-color: #f4f4f4;
  background-image: url("/noise3.png");
  background-size: 300px 300px;
  background-repeat: repeat;
  color: var(--color-light);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  margin: 0;
}

.page-wrap {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  max-inline-size: var(--wrapper-max-width);
  margin-inline: auto;
  background-color: var(--color-dark);
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-repeat: repeat;
}

a {
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 12%;
  text-underline-offset: 12%;
}

.inline-start-auto {
  margin-inline-start: auto;
}

.margin-block-end {
  margin-block-end: var(--margin-block-space, var(--gutter));
}

@view-transition {
  navigation: none;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

body > [href="#main-content"] {
  position: absolute;
  display: block;
  padding: 1rem;
  z-index: 2;
  color: var(--color-dark);
  background-color: var(--color-light);
}

*:focus {
  outline-style: dotted;
  outline-offset: var(--space-3xs);
  outline-width: 3px;
  outline-color: var(--color-primary);
}

.about {
  --switcher-target-container-width: 65rem;
  --switcher-gutter: 0;
}

.about__title {
  padding-block: var(--gutter);
  border-block: var(--border);
  margin-block-start: 0;
  margin-block-end: var(--gutter);
}

.about__title h1 {
  margin-block: 0;
  font-weight: 900;
  text-wrap: pretty;
  font-size: var(--size-step-5);
  letter-spacing: var(--letters-tight);
  line-height: var(--leading-tight);
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.portrait__content .about__content {
  padding-inline-end: var(--gutter);
}

.album-list {
  list-style-type: none;
  padding: 0;
}

/*
COPY COMPOSITION
Keep any area with lots of copy
to a max width of --measure (default 60ch)
*/

.copy > * {
  max-inline-size: var(--measure, 60ch);
  text-wrap: pretty;
  hyphens: auto;
  hyphenate-limit-chars: 10;
}

.post__figure {
  --region-space: var(--space-l);
  /* max-width: var(--measure); */
}

.post__figure figcaption {
  padding: var(--space-xs);
  font-size: var(--size-step-00);
}

.post__figure img {
  border-radius: var(--space-3xs);
}

.footer {
  --region-space: var(--space-l-xl);
  --space: var(--space-2xs);
  --repel-vertical-alignment: start;
  background: url("/noise3.png"), var(--color-primary);
  color: var(--color-dark);
  font-size: var(--size-step-00);
  font-weight: 500;
  flex-grow: 2;
}

.footer a {
  text-decoration-color: var(--primary-dark);
}

.footer__logo {
  --gutter: var(--space-xs);
  --cluster-vertical-alignment: center;
}

.footer__logo .logo {
  width: var(--size-step-3);
  height: var(--size-step-3);
}

.footer__nav {
  --gutter: var(--space-2xl);
  --cluster-vertical-alignment: start;
}

.footer__nav h4 {
  display: inline-block;
  margin: 0;
  line-height: 1;
  padding: var(--space-3xs);
  border-radius: var(--space-3xs);
  color: var(--color-light);
  background-color: var(--color-dark);
}

.footer__nav ul {
  padding-inline-start: 0;
}

.footer__version {
  --space: var(--space-zero);
}

.header {
  font-size: var(--size-step-0);
}

.header .wrapper {
  padding-block: var(--gutter);
}

.header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-light);
}

.header h1 {
  display: flex;
  align-items: stretch;
  margin-block-start: 0;
  height: 2.5rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
}

.hero mark {
  background:
    linear-gradient(
      0.3deg,
      transparent 19%,
      rgba(var(--color-dark-rgb), 0.85) 19%,
      rgba(var(--color-dark-rgb), 0.85) 65%,
      transparent 65%
    ),
    url("/noise3.png");
  color: rgba(255, 255, 255, 0.9);
}

.hero a {
  text-decoration-color: var(--color-light);
  text-decoration-thickness: 10%;
  text-underline-offset: 10%;
}

.hero__inner {
  background-color: var(--color-primary);
  background-repeat: repeat;
  background-image: url("/noise3.png");
  padding-block: var(--gutter);
  padding-inline-start: var(--gutter);
  border-top-left-radius: var(--space-s);
  border-bottom-left-radius: var(--space-s);
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero";
}

.hero__content .repel {
  grid-area: hero;
  position: relative;
  max-width: 60ch;
  z-index: 10;
  margin-inline-end: var(--gutter);
}

.hero__heading {
  font-size: var(--size-step-5);
  text-wrap: pretty;
  margin-block: 0;
  font-weight: 700;
  line-height: var(--leading-tight);
  letter-spacing: var(--letters-tight);
  transform: rotate(0.7deg);
  background: url("#roughEdges");
}

.hero__lede {
  font-size: var(--size-step-3);
  line-height: var(--leading-fine);
  font-weight: 500;
  transform: rotate(-0.75deg);
}

.hero__img {
  grid-area: hero;
  max-width: 50rem;
  justify-self: end;
}

.hero__img img {
  block-size: 100%;
  inline-size: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: var(--space-s);
  border-bottom-left-radius: var(--space-s);
  filter: contrast(150%);
}

.home__about {
  --sidebar-target-width: 35ch;
  --sidebar-content-min-width: 60%;
  --region-space: var(--space-3xl);
}

.home__introduction {
  font-size: var(--size-step-1);
}

.home__introduction p {
  max-inline-size: var(--measure);
  margin-block-start: 0;
}

.home__posts {
  --space: var(--space-l);
}

/* .home__posts mark { */

/*   background: */

/*     linear-gradient( */

/*       0.3deg, */

/*       transparent 19%, */

/*       rgba(var(--color-primary-rgb), 0.9) 19%, */

/*       rgba(var(--color-primary-rgb), 0.9) 65%, */

/*       transparent 65% */

/*     ), */

/*     rgba(var(--color-primary-rgb), 0.7); */

/*   color: var(--color-dark); */

/* } */

.home__posts h2 {
  font-weight: 700;
  font-size: var(--size-step-2);
  margin-block-start: 0;
  /* margin-block-end: var(--space-l); */
}

/* .home__journal h2 { */

/*   transform: rotate(1.125deg); */

/* } */

/**/

/* .home__links h2 { */

/*   transform: rotate(-1deg); */

/* } */

.home__posts {
  margin-block-end: var(--space-m);
}

.home__posts .sidebar {
  --sidebar-target-width: 35ch;
  --sidebar-content-min-width: 60%;
}

.home__journal {
  padding-block: var(--space-l);
}

.home__link-posts {
  container-type: inline-size;
}

.home__links {
  position: relative;
  padding-block: var(--space-l);
  padding-inline: var(--gutter);
  border-inline-start: 1px solid var(--color-dark-gray);
}

@container (width > 50vi) {
  .home__links {
    /* border-block-start: 1px solid var(--color-dark-gray); */
    border-inline-start: none;
    padding-inline: 0;
  }
}

.internal-pages {
  font-size: var(--size-step-00);
}

.meta {
  --gutter: var(--space-xs);
  --space: var(--space-2xs);
  font-size: var(--size-step-00);
  padding: var(--space-xs);
  background-color: var(--color-dark-gray);
  border-radius: var(--space-3xs);
}

.meta hr {
  flex-grow: 2;
  flex-shrink: 1;
  /* height: 1px; */
  border-color: #666;
}

.meta h3 {
  font-size: var(--size-step-00);
  margin-block: 0;
}

.page {
  --sidebar-target-width: 20rem;
}

.post__gallery {
  --region-space: var(--space-m);
  --gutter: var(--space-xs);
  --grid-min-item-size: 10rem;
  margin-block-start: var(--gutter);
  padding-block-start: var(--gutter);
}

.gallery__item {
  aspect-ratio: 1;
}

.gallery__thumb {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post-list li {
  --space: var(--gutter);
  max-width: 100%;
  padding-block-start: var(--gutter);
}

.post-list li + li {
  border-block-start: 1px solid var(--color-dark-gray);
}

.post-list .sidebar {
  --sidebar-target-width: 20ch;
  --sidebar-content-min-width: 50%;
}

.post-list__card {
  --space: var(--space-xs);
  --gutter: var(--space-s);
  font-size: var(--size-step-0);
}

.post-list__card h3 {
  font-size: var(--size-step-0);
  font-weight: 500;
  margin-block: 0;
  line-height: 1.4;
}

.post-list__card time {
  font-size: var(--size-step-00);
  text-transform: uppercase;
  color: var(--color-middle);
  font-family: monospace;
}

.post-list__card p {
  margin-block: 0;
}

.list__thumb {
  background-color: var(--color-primary);
  background-image: url("/noise3.png");
  border-radius: 3px;
}

.list__thumb img {
  object-fit: cover;
  object-position: top center;
  filter: saturate(0);
  mix-blend-mode: multiply;
  border-radius: 3px;
  /* transition: filter 0.3s cubic-bezier(0, 0.55, 0.45, 1); */
}

.post-list__card:hover .list__thumb img {
  filter: none;
  mix-blend-mode: normal;
}

.post-list__pagination {
  --region-space: var(--gutter);
  border-block-start: var(--border);
}

.post-list__pagination a {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.prose {
  --flow-space: var(--space-m);
}

.journal__post {
  --switcher-target-container-width: 65rem;
  --switcher-gutter: 0;
  --flow-space: var(--gutter);
  /* --region-space: var(--space-m); */
}

.portrait__content .post__content {
  padding-inline-end: var(--gutter);
}

.post__title {
  padding-block: var(--gutter);
  border-block: var(--border);
  margin-block-start: 0;
  margin-block-end: var(--gutter);
}

.post__title h1 {
  margin-block: 0;
  font-weight: 900;
  text-wrap: pretty;
  font-size: var(--size-step-5);
  letter-spacing: var(--letters-tight);
  line-height: var(--leading-tight);
}

.post__time {
  font-size: var(--size-step-00);
  font-family: monospace;
}

.post__permalink {
  font-size: var(--size-step-00);
  color: var(--primary);
}

.post__content {
  font-size: var(--size-step-0);
}

.post__content .flow > hr {
  border: none;
  text-align: center;
}

.post__content .flow > hr::after {
  content: "***";
}

.post__feature {
  margin-block-end: var(--space-s);
}

.post__feature img {
  border-top-left-radius: var(--space-s);
  border-bottom-left-radius: var(--space-s);
}

.post__feature figcaption {
  display: flex;
  justify-content: flex-end;
  padding-inline: var(--gutter);
}

.post__feature figcaption p {
  font-size: var(--size-step-00);
  margin-block-start: var(--space-s);
  max-width: 100%;
}

.post__meta {
  --region-space: var(--space-m);
}

.post__meta.switcher {
  --switcher-target-container-width: 40rem;
}

.post__pagination {
  margin-block-start: var(--gutter);
  padding-block: var(--gutter);
  border-block-start: var(--border);
}

/*
CUSTOM PROPERTIES AND CONFIGURATION

--gutter (var(--space-size-1)): This defines the space
between each item

--albatross-target-container-width (40rem): How large the container
needs to be to allow items to sit inline with each other

--albatross-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.

*/

.albatross {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
  align-items: var(--albatross-vertical-alignment, flex-start);
}

.albatross > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--albatross-target-container-width, 60rem) - 100%) * 999
  );
}

/* Pseudo elements for empty columns */

.albatross[data-before="true"]:before {
  content: "";
  display: block;
  flex-grow: 1;
  flex-basis: calc(
    (var(--albatross-target-container-width, 60rem) - 100%) * 999
  );
}

.albatross[data-after="true"]:after {
  content: "";
  display: block;
  flex-grow: 1;
  flex-basis: calc(
    (var(--albatross-target-container-width, 60rem) - 100%) * 999
  );
}

.albatross > *[data-grow="2"] {
  flex-grow: 2;
}

.albatross[data-reverse="true"] {
  flex-direction: row-reverse;
}

.center {
  max-inline-size: var(--center-width, var(--measure));
  margin-inline: auto;
}

/*
CLUSTER
More info: https://every-layout.dev/layouts/cluster/
A layout that lets you distribute items with consitent
spacing, regardless of their size

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--cluster-horizontal-alignment (flex-start) How items should align
horizontally. Can be any acceptable flexbox aligmnent value.

--cluster-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-m));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

.cluster[data-nowrap] {
  flex-wrap: nowrap;
}

/* 
FLOW COMPOSITION 
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/ 
*/

.flow > * {
  margin: 0;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow[data-size="sm"] {
  --flow-space: clamp(0.5rem, 0.45rem + 0.23vw, 0.75rem);
}

/* AUTO GRID
Related Every Layout: https://every-layout.dev/layouts/grid/
More info on the flexible nature: https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
A flexible layout that will create an auto-fill grid with
configurable grid item sizes

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--grid-min-item-size (14rem): How large each item should be
ideally, as a minimum.

--grid-placement (auto-fill): Set either auto-fit or auto-fill
to change how empty grid tracks are handled */

.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-l));
}

/* A split 50/50 layout */

.grid[data-layout="halves"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 20rem);
}

/* Three column grid layout */

.grid[data-layout="thirds"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}

.grid[data-layout="quarters"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: 25rem;
}

/*
REPEL
A little layout that pushes items away from each other where
there is space in the viewport and stacks on small viewports

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--repel-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-m));
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}

.repel[data-direction="column"] {
  align-items: var(--repel-horizontal-alignment, flex-start);
  flex-direction: column;
}

.repel[overlap] > :first-child {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}

/* 
SIDEBAR
More info: https://every-layout.dev/layouts/sidebar/
A layout that allows you to have a flexible main content area
and a "fixed" width sidebar that sits on the left or right.
If there is not enough viewport space to fit both the sidebar
width *and* the main content minimum width, they will stack
on top of each other

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-size-1)): This defines the space
between the sidebar and main content.

--sidebar-target-width (20rem): How large the sidebar should be

--sidebar-content-min-width(50%): The minimum size of the main content area

EXCEPTIONS
.sidebar[data-direction='rtl']: flips the sidebar to be on the right 
.sidebar[data-reverse='true']: reverses the order of the row items
*/

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-m));
}

.sidebar[data-reverse="true"] {
  flex-direction: row-reverse;
}

.sidebar[data-wrap="false"] {
  flex-wrap: no-wrap;
}

.sidebar:not([data-direction="rtl"]) > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar:not([data-direction="rtl"]) > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

.sidebar[data-direction="rtl"] > :last-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar[data-direction="rtl"] > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.stack--zero > * + * {
  --space: 0;
}

/*
SWITCHER
More info: https://every-layout.dev/layouts/switcher/
A layout that allows you to lay **2** items next to each other
until there is not enough horizontal space to allow that.

CUSTOM PROPERTIES AND CONFIGURATION
--switcher-gutter (var(--space-size-1)): This defines the space
between each item

--switcher-target-container-width (40rem): How large the container
needs to be to allow items to sit inline with each other

--switcher-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gutter, var(--space-s-l));
  align-items: var(--switcher-vertical-alignment, flex-start);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
}

/* Max 2 items,
so anything greater than 2 is full width */

.switcher > :nth-child(n + 3) {
  flex-basis: 100%;
}

.switcher[data-direction="rtl"] {
  flex-direction: row-reverse;
}

/*
WRAPPER COMPOSITION 
A common wrapper/container
*/

.wrapper {
  margin-inline: auto;
  max-inline-size: var(--wrapper-max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.wrapper[data-wrapper-type="inner"] {
  min-width: 100%;
  padding-block: var(--gutter-wrapper-inner-block, var(--gutter));
  padding-inline: var(--gutter-wrapper-inner-inline, var(--gutter));
}

.wrapper[data-bleed-right] {
  padding-right: 0;
}

.fade-in {
  animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideInAnimation 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-fill-mode: backwards;
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* 
REGION UTILITY
Consistent block padding for page sections
*/

.region {
  padding-block: var(--region-space, var(--space-xl-2xl));
}

/* 
STICKY UTILITY
Makes the direct child a sticky element
`--offset` is the spacing between the sticky
and the top of the viewport. `--gutter` is
the default.
*/

.sticky {
  position: sticky;
  top: var(--offset, --gutter);
}

/* 
VISUALLY HIDDEN UTILITY
Info: https://piccalil.li/quick-tip/visually-hidden/ 
*/

.visually-hidden:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Utility for removing line-height
*  Mostly just helpful for removing extra
*  space when wrapping my logo SVG in an
*  anchor tag */

.zero-height {
  display: block;
  line-height: 0;
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */

.pswp {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;

  --pswp-root-z-index: 100000;

  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);

  /* defined via js:
--pswp-transition-duration: 333ms; */

  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;

  --pswp-error-text-color: var(--pswp-icon-color);
}

/*
Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
*/

.pswp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--pswp-root-z-index);
  display: none;
  touch-action: none;
  outline: 0;
  opacity: 0.003;
  contain: layout style size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
(it may be focused initially) */

.pswp:focus {
  outline: 0;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--open {
  display: block;
}

.pswp,
.pswp__bg {
  transform: translateZ(0);
  will-change: opacity;
}

.pswp__bg {
  opacity: 0.005;
  background: var(--pswp-bg);
}

.pswp,
.pswp__scroll-wrap {
  overflow: hidden;
}

.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp__img,
.pswp__zoom-wrap {
  width: auto;
  height: auto;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* :active to override grabbing cursor */

.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
.pswp__img {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

/* Prevent selection and tap highlights */

.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__item {
  /* z-index for fade transition */
  z-index: 1;
  overflow: hidden;
}

.pswp__hidden {
  display: none !important;
}

/* Allow to click through pswp__content element, but not its children */

.pswp__content {
  pointer-events: none;
}

.pswp__content > * {
  pointer-events: auto;
}

/*

PhotoSwipe UI

*/

/*
Error message appears when image is not loaded
(JS option errorMsg controls markup)
*/

.pswp__error-msg-container {
  display: grid;
}

.pswp__error-msg {
  margin: auto;
  font-size: 1em;
  line-height: 1;
  color: var(--pswp-error-text-color);
}

/*
class pswp__hide-on-close is applied to elements that
should hide (for example fade out) when PhotoSwipe is closed
and show (for example fade in) when PhotoSwipe is opened
*/

.pswp .pswp__hide-on-close {
  opacity: 0.005;
  will-change: opacity;
  transition: opacity var(--pswp-transition-duration)
    cubic-bezier(0.4, 0, 0.22, 1);
  z-index: 10;
  /* always overlap slide content */
  pointer-events: none;
  /* hidden elements should not be clickable */
}

/* class pswp--ui-visible is added when opening or closing transition starts */

.pswp--ui-visible .pswp__hide-on-close {
  opacity: 1;
  pointer-events: auto;
}

/* <button> styles, including css reset */

.pswp__button {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 0.85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 1;
}

.pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}

.pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}

.pswp__icn:focus {
  outline: 0;
}

/*
div element that matches size of large image,
large image loads on top of it,
used when msrc is not provided
*/

div.pswp__img--placeholder,
.pswp__img--with-bg {
  background: var(--pswp-placeholder-bg);
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;

  /* allow events to pass through top bar itself */
  pointer-events: none !important;
}

.pswp__top-bar > * {
  pointer-events: auto;
  /* this makes transition significantly more smooth,
   even though inner elements are not animated */
  will-change: opacity;
}

/*

Close button

*/

.pswp__button--close {
  margin-right: 6px;
}

/*

Arrow buttons

*/

.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}

.pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}

.pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}

.pswp--one-slide .pswp__button--arrow {
  display: none;
}

/* hide arrows on touch screens */

.pswp--touch .pswp__button--arrow {
  visibility: hidden;
}

/* show arrows only after mouse was used */

.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}

.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
}

.pswp__button--arrow--next {
  right: 0px;
}

.pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  /* flip horizontally */
  transform: scale(-1, 1);
}

/*

Zoom button

*/

.pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* "+" => "-" */

.pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}

/*

Loading indicator

*/

.pswp__preloader {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}

.pswp__preloader .pswp__icn {
  opacity: 0;
  transition: opacity 0.2s linear;
  animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}

@keyframes pswp-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*

"1 of 10" counter

*/

.pswp__counter {
  height: 30px;
  margin-top: 15px;
  margin-inline-start: 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}

.pswp--one-slide .pswp__counter {
  display: none;
}
