{{ partial "head.html" . }} {{ partial "header.html" . }}


<article class="post grid flow{{ if eq .Params.type "journal" }} post--has-feature{{ end }}">
  <div class="post__title">
    <h1>{{ .Title }}</h1>
    <time>{{ .Date.Format "January 2, 2006" }}</time>
  </div>
  <div class="post__content flow">{{ .Content }}</div>

  <!-- Post info partial. Parent class ".jp__info" -->
  {{ partial "post_info.html" . }}

  <!-- Pagination partial. Parent class ".jp__pagination" -->
  {{ partial "single-pagination.html" .}}
</article>

{{ partial "footer.html" . }}
