<!-- Import Header -->
{{ partial "header.html" . }}


<h1 class="xxl">{{ .Title }}</h1>
<section>
  <div class="music">
    <ol
      class="album-list list-reset"
      reversed
    >
      {{ range first 10 .Site.Data.music.year2024.albums }}
        <li>
          <article class="album-card">
            <h2><em>{{ .title }}</em></h2>
            <img
              class="art"
              src="{{ .art }}"
            />
            <p>
              {{ .content | markdownify }}
              <span class="favorite-track">
                Favorite track:
                <a href="">{{ .favorite }}</a>
              </span>
            </p>
          </article>
        </li>
      {{ end }}
    </ol>
  </div>
</section>

<section class="bestof">
  {{ range last 2 .Site.Data.music.year2024.albums }}
    <article class="bestof-card">
      <img
        class="art"
        src="{{ .art }}"
      />
      <div class="bestof-card__content">
        <h2>{{ .title }}</h2>
        <p>{{ .content }}</p>
      </div>
    </article>
  {{ end }}
</section>

<!-- Import Footer -->
{{ partial "footer.html" . }}
