// @use 'reset';
// @use 'variables';
// @use 'fonts';
// @use 'typography';
// @use 'defaults';
// @use 'layout';
// @use 'utilities';
// @use 'design';
// @use 'photoswipe';

@use 'layer/reset';
@use 'layer/default';

html {
  --wrapper-max-width: 600px;
  --gap: 1rem;
}

.visually-hidden:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--gap);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  padding-block-end: 4rem;
}

.header nav>h1,
.header nav>div {
  width: 2rem;
  height: 2rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    gap: var(--gap);
  }
}
