{{- $respSizes := slice "375" "640" "960" "1280" "1600" "1920" -}}
{{- $src := .Params.image -}}
{{- $webpSrc := replaceRE "\\.[^.]+$" ".webp" $src -}}
{{- $alt := .Params.alt -}}
{{- $cap := .Params.caption -}}
{{- $myCloud := "dpmsynxig" -}}
{{- $cloudBase := print "https://res.cloudinary.com/" $myCloud "/image/upload/" -}}
{{- $xFmPart1 := "q_auto,w_" -}}
{{- $xFmPart2 := ",x_0,z_1/" -}}
{{- $dataSzes := "(min-width: 1024px) 50vw, 100vw" -}}
{{- $pageDir := .Page.File.Dir -}}
{{- $imagePath := print $pageDir $webpSrc -}}

{{- if $.Page.Resources.GetMatch $src -}}
  {{ with $.Page.Resources.GetMatch $src }}
    {{- print "Source Image Path: " $src -}}
    {{- $imgRsc := . -}}
    <figure class="post__feature">
      <img
        srcset="
          {{- range $i, $e := $respSizes -}}
            {{- if ge $imgRsc.Width $e -}}
              {{- if $i }},{{ end -}}
              {{- $cloudBase }}{{ $xFmPart1 }}{{ $e }}{{ $xFmPart2 }}{{ $imagePath }}
              {{ $e }}w
            {{- end -}}
          {{- end -}}
        "
        sizes="{{ $dataSzes }}"
        src="{{ $cloudBase }}{{ $xFmPart1 }}600{{ $xFmPart2 }}{{ $imagePath }}"
        width="{{ $imgRsc.Width }}"
        height="{{ $imgRsc.Height }}"
        alt="{{ $alt }}"
      />
      {{- if $cap -}}
        <figcaption><p>{{ $cap }}</p></figcaption>
      {{- end }}
    </figure>
  {{- end -}}
{{- else -}}
  <p><em>Image unavailable.</em></p>
{{- end -}}
