<!-- Import Head -->

<header class="header">
  <div class="wrapper">
    <nav
      class="repel"
      aria-label="Primary"
    >
      {{ if .IsHome }}
        <h1>
          <a
            rel="home"
            href="/"
            aria-label="Home"
          >
            <svg
              class="logo"
              viewBox="0 0 476 476"
              fill="none"
              title="Return home"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M222.193 0.0825195C103.06 7.78202 7.78255 103.059 0.0820312 222.192L222.193 222.192V0.0825195Z"
                fill="#F45511"
              />
              <path
                d="M0 252.052H222.194V341.631C222.194 349.876 228.878 356.561 237.124 356.561C245.369 356.561 252.054 349.876 252.054 341.631V0C376.973 7.3773 476 111.019 476 237.79C476 369.35 369.35 476 237.79 476C111.019 476 7.37627 376.972 0 252.052Z"
                fill="#FCF6F3"
              />
            </svg>
          </a>
        </h1>
      {{ else }}
        <div>
          <a
            rel="home"
            href="/"
            aria-label="Home"
            class="zero-height"
          >
            <svg
              class="logo"
              viewBox="0 0 476 476"
              fill="none"
              title="Return home"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M222.193 0.0825195C103.06 7.78202 7.78255 103.059 0.0820312 222.192L222.193 222.192V0.0825195Z"
                fill="#F45511"
              />
              <path
                d="M0 252.052H222.194V341.631C222.194 349.876 228.878 356.561 237.124 356.561C245.369 356.561 252.054 349.876 252.054 341.631V0C376.973 7.3773 476 111.019 476 237.79C476 369.35 369.35 476 237.79 476C111.019 476 7.37627 376.972 0 252.052Z"
                fill="#FCF6F3"
              />
            </svg>
          </a>
        </div>
      {{ end }}

      {{ with site.Menus.main }}
        <ul class="cluster list-reset">
          {{ range . }}
            <li>
              {{ $url := .URL }}
              {{ if $.IsMenuCurrent .Menu . }}
                <a
                  class="nav--active"
                  aria-current="page"
                  href="{{ $url }}"
                >
                  {{ .Name }}
                </a>
              {{ else }}
                <a href="{{ $url }}">{{ .Name }}</a>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </nav>
  </div>
</header>
