<!-- Misc data for posts. Tags, etc. -->

<div class="meta stack">
  <div class="repel">
    <h3>Posted</h3>
    <hr />
    <time>{{ .Date.Format "January 2, 2006" }}</time>
  </div>
  {{ if .Params.jammin }}
    <div class="repel">
      <h3>Jammin'</h3>
      <hr />
      <span>
        {{ range .Params.jammin }}
          <a
            aria-label="{{ .title }} (opens song link in new tab or window)"
            href="{{ .href }}"
            target="_blank"
            rel="noopener"
          >
            {{ .title }}
          </a>
        {{ end }}
      </span>
    </div>
  {{ end }}
  <!-- tags -->
  {{ partial "tags.html" . }}
</div>
