{{ with .Params.gallery }}
<section
  id="Gallery"
  class="post__gallery"
>
  <ul class="list-reset gallery__images">
    {{ range .images }}
    <li class="gallery__item">
      <a
        href="{{ .img }}"
        target="_blank"
        data-pswp-width="{{ .width }}"
        data-pswp-height="{{ .height }}"
        data-cropped="true"
      >
        <img
          src="{{ .img }}"
          alt="{{ .alt }}"
          class="gallery__thumb"
          loading="lazy"
        />
      </a>
    </li>
    {{ end }}
  </ul>
</section>
<script type="module">
  import PhotoSwipeLightBox from "/js/photoswipe-lightbox.esm.min.js";

  const lightbox = new PhotoSwipeLightBox({
    gallery: "#Gallery",
    children: "a",
    initialZoomLevel: "fit",
    secondaryZoomLevel: 1,
    maxZoomLevel: 1,
    showHideAnimationType: "fade",
    pswpModule: () => import("/js/photoswipe.esm.min.js"),
  });

  lightbox.init();
</script>
{{ end }}
