{{ if .Params.gallery }}
  {{- $pageDir := .Page.File.Dir -}}
  <section
    id="Gallery"
    class="post__gallery"
  >
    <ul class="list-reset grid">
      {{- range .Params.gallery -}}
        {{- $respSizes := slice "375" "640" "960" "1280" "1600" "1920" -}}
        {{- $src := .src -}}
        {{- $alt := .alt -}}
        {{- $width := .width -}}
        {{- $height := .height -}}
        {{- $webpSrc := replaceRE "\\.[^.]+$" ".webp" $src -}}
        {{- $myCloud := "dpmsynxig" -}}
        {{- $cloudBase := print "https://res.cloudinary.com/" $myCloud "/image/upload/" -}}
        {{- $xFmPart1 := "q_auto,w_" -}}
        {{- $xFmPart2 := ",x_0,z_1/" -}}
        {{- $dataSzes := "(min-width: 1024px) 50vw, 100vw" -}}
        {{- $imagePath := print $pageDir $webpSrc -}}

        {{- if $src -}}
          <li class="gallery__item">
            <a
              href="{{ $cloudBase }}{{ $xFmPart1 }}2048{{ $xFmPart2 }}{{ $imagePath }}"
              target="_blank"
              data-pswp-width="{{ $width }}"
              data-pswp-height="{{ $height }}"
              data-cropped="true"
              {{- $srcset := "" -}}
              {{- range $i, $e := $respSizes -}}
                {{- if $i -}}
                  {{- $srcset = print $srcset ", " -}}
                {{- end -}}
                {{- $srcset = print $srcset $cloudBase $xFmPart1 $e $xFmPart2 $imagePath " " $e "w" -}}
              {{- end -}}
              {{ printf "data-pswp-srcset=\"%s\"" $srcset | safeHTMLAttr }}
            >
              <img
                class="gallery__thumb"
                sizes="{{ $dataSzes }}"
                src="{{ $cloudBase }}{{ $xFmPart1 }}640{{ $xFmPart2 }}{{ $imagePath }}"
                width="375"
                height="250"
                alt="{{ $alt }}"
                loading="lazy"
              />
            </a>
          </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </section>

  {{ $lightboxJS := resources.Get "js/photoswipe-lightbox.esm.min.js" | resources.Fingerprint }}
  {{ $photoswipeJS := resources.Get "js/photoswipe.esm.min.js" | resources.Fingerprint }}
  <script type="module">
import PhotoSwipeLightBox from "{{ $lightboxJS.Permalink }}";

    const lightbox = new PhotoSwipeLightBox({
      gallery: "#Gallery",
      children: "a",
      initialZoomLevel: "fit",
      secondaryZoomLevel: 1,
      maxZoomLevel: 1,
      showHideAnimationType: "fade",
  pswpModule: () => import("{{ $photoswipeJS.Permalink }}"),
    });

    lightbox.init();
  </script>
{{ end }}
