<ul class="post-list stack list-reset">
  {{ range .posts }}
    {{ if or (eq .Type "journal") (eq .Type "now") }}
      <li>
        <article class="post-list__card">
          <div class="sidebar">
            <div class="stack">
              <h3>
                <a
                  aria-label="View post {{ .Title }}"
                  href="{{ .Permalink }}"
                >
                  {{ .Title }}
                </a>
              </h3>
              <time>{{ .Date.Format "January 2, 2006" }}</time>
            </div>
            {{ partial "list-thumb.html" . }}
          </div>
        </article>
      </li>
    {{ else if eq .Section "links" }}
      <li>
        <article class="post-list__card">
          <div class="sidebar">
            <div class="stack">
              <h3><a href="{{ .Params.href }}">{{ .Title }}</a></h3>
              <time>
                {{ .Date.Format "January 2, 2006" }}
              </time>
              <a
                class="post__permalink"
                href="{{ .Permalink }}"
              >
                Permalink
              </a>
            </div>
            <div class="flow">
              {{ .Content }}
            </div>
          </div>
        </article>
      </li>
    {{ end }}
  {{ end }}
</ul>
