<nav
  aria-label="Pagination"
  class="repel"
  aria-label="blog post pagination"
>
  {{ if .NextInSection }}
    <span>
      <a
        aria-label="Navigate to the next article"
        rel="next"
        href="{{ .NextInSection.Permalink }}"
      >
        <span class="link-icon">&#8592;</span>
        {{ .NextInSection.Title }}
      </a>
    </span>
  {{ end }}
  {{ if .PrevInSection }}
    <span class="inline-start-auto">
      <a
        aria-label="Navigate to the previous article"
        rel="previous"
        href="{{ .PrevInSection.Permalink }}"
      >
        {{ .PrevInSection.Title }}
        <span class="link-icon">&#8594;</span>
      </a>
    </span>
  {{ end }}
</nav>
