<nav aria-label="Pagination Navigation" class="jp__pagination" aria-label="blog post pagination">
    {{ if .PrevInSection }}
    <span class="pagination__prev">Previous: <a aria-label="Navigate to the previous article" rel="previous"
            href="{{ .PrevInSection.Permalink }}">
            {{ .PrevInSection.Title }}</a></span>
    {{ end }} {{ if .NextInSection }}
    <span class="pagination__next">Next: <a aria-label="Navigate to the next article" class="pagination__next"
            rel="next" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title
            }}</a></span>
    {{ end }}
</nav>
