<!-- Import head & header -->
{{ partial "head.html" . }}
{{ partial "header.html" . }}

<!-- Begin page -->
<div class="home columns">
  
  <!-- Hello column -->
  <section class="home__intro">
    <h3>Hello</h3>
    {{.Content}}
  </section>

  <!-- Pages column -->
  <section class="home__recent">
    <h3>Recent Posts</h3>
    <ul class="list-reset">
      {{ range first 10 (where .Site.Pages "Type" "journal") }}
        <li class="recent__post">
          <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
          <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </li>
      {{ end }}
    </ul>
    <p>
      More Journal posts can be found <a href="/archives/">here</a>
    </p>
  </section>

  <!-- Tracks column -->
  <section class="home__tracks">
    <h3>Currently Listening</h3>
    <ul id="recent-tracks" class="recent-tracks">
      <!-- populated by js -->
    </ul>
    <p>
    Recently played tracks are pulled from my <a href="https://www.last.fm/user/qbertqbert" target="_blank">last.fm</a> account, which is populated via <a href="https://open.spotify.com/user/jasonawhite" target="_blank">Spotify</a>.
    </p>
  </section>

  <!-- Links column -->
  <section class="home__links">
    <h3>Recent Finds</h3>
    <script language="javascript" src="https://pinboard.in//widgets/v1/linkroll/?user=jasonwhite&count=10"></script>
  </section>
</div>

<!-- Import footer -->
{{ partial "footer.html" . }}

<script>
  const body = document.body;
  const tracks = document.getElementById("recent-tracks");
  body.onload = getTracks();

  function getTracks() {
    return fetch('/api/lastfm', {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      }
    })
      .then((res) => res.json())
      .then(res => {
        res.recenttracks.track.forEach((track) => {
          tracks.innerHTML += `
            <li>
              <div class="track">
                <img class="track__img" src="${track.image[1]['#text']}" alt="generated album cover - non-descript">
                <div class="track__info">
                  <p>${track.artist['#text']}</p>
                  <a href="${track.url}" target="_blank">${track.name}</a>
                </div>
              </div>
            </li>
          `
        });
      })
      .catch((err) => {
        console.log(err);
      });
  }
</script>
