*,
*::before,
*::after {
  box-sizing: border-box;
  /*box-shadow: 0 0 3px 0 rgba(255, 0, 255, 0.3);*/
}

html,
body {
  height: 100%;
}

body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
