@tailwind preflight;

@tailwind components;

/*
 * Add any custom utilities or CSS Here
 *
 */


*,
*::before,
*::after {
  /*box-shadow: 0 0 3px 0 rgba(255, 0, 255, 0.3);*/
}

html,
body {
  height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 75px auto 75px;
}

.layout header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.layout main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.layout aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.layout footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

@tailwind utilities;
