.post__figure {
  --region-space: var(--space-l);
  /* max-width: var(--measure); */
}

.post__figure figcaption {
  padding: var(--space-xs);
  font-size: var(--size-step-00);
}

.post__figure img {
  border-radius: var(--space-3xs);
}
