.footer {
  --region-space: var(--space-l-xl);
  --space: var(--space-2xs);
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: 500;
}

.footer a {
  text-decoration: none;
}

.footer__logo {
  --gutter: var(--space-xs);
  --cluster-vertical-alignment: center;
  padding-inline-end: var(--space-l);
}

.footer__logo .logo {
  width: var(--size-step-3);
  height: var(--size-step-3);
}

.footer__nav {
  --gutter: var(--space-xl);
  --cluster-vertical-alignment: start;
}

.footer__nav h4 {
  margin: 0;
  line-height: 1.5;
  text-decoration: underline;
}

.footer__nav ul {
  padding-inline-start: 0;
}
