.footer {
  --region-space: var(--space-l-xl);
  --space: var(--space-2xs);
  --repel-vertical-alignment: start;
  background: url("/noise3.png"), var(--color-primary);
  color: var(--color-dark);
  font-size: var(--size-step-00);
  font-weight: 500;
  flex-grow: 2;
}

.footer a {
  text-decoration: none;
}

.footer__logo {
  --gutter: var(--space-xs);
  --cluster-vertical-alignment: center;
}

.footer__logo .logo {
  width: var(--size-step-3);
  height: var(--size-step-3);
}

.footer__nav {
  --gutter: var(--space-2xl);
  --cluster-vertical-alignment: start;
}

.footer__nav h4 {
  margin: 0;
  line-height: 1.5;
  text-decoration: underline;
}

.footer__nav ul {
  padding-inline-start: 0;
}

.footer__version {
  --space: var(--space-zero);
}
