.header {
  font-size: var(--size-step-0);
}

.header .wrapper {
  padding-block: var(--gutter);
}

.header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-light);
}

.header h1 {
  display: flex;
  align-items: stretch;
  margin-block-start: 0;
  height: 2.5rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
}
