.hero mark {
  background:
    linear-gradient(
      0.3deg,
      transparent 19%,
      rgba(var(--color-dark-rgb), 0.85) 19%,
      rgba(var(--color-dark-rgb), 0.85) 65%,
      transparent 65%
    ),
    url("/noise3.png");
  color: rgba(255, 255, 255, 0.9);
}

.hero a {
  text-decoration-color: var(--color-light);
  text-decoration-thickness: 10%;
  text-underline-offset: 10%;
}

.hero__inner {
  background-color: var(--color-primary);
  background-repeat: repeat;
  background-image: url("/noise3.png");
  padding-block: var(--gutter);
  padding-inline-start: var(--gutter);
  border-top-left-radius: var(--space-s);
  border-bottom-left-radius: var(--space-s);
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero";
}

.hero__content .repel {
  grid-area: hero;
  position: relative;
  max-width: 60ch;
  z-index: 10;
  margin-inline-end: var(--gutter);
}

.hero__heading {
  font-size: var(--size-step-5);
  text-wrap: pretty;
  margin-block: 0;
  font-weight: 700;
  line-height: var(--leading-tight);
  letter-spacing: var(--letters-tight);
  transform: rotate(0.7deg);
  background: url("#roughEdges");
}

.hero__lede {
  font-size: var(--size-step-3);
  line-height: var(--leading-fine);
  font-weight: 500;
  transform: rotate(-0.75deg);
}

.hero__img {
  grid-area: hero;
  max-width: 50rem;
  justify-self: end;
}

.hero__img img {
  block-size: 100%;
  inline-size: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: var(--space-s);
  border-bottom-left-radius: var(--space-s);
  filter: contrast(150%);
}
