.home__posts {
  --space: var(--space-l);
}

/* .home__posts mark { */
/*   background: */
/*     linear-gradient( */
/*       0.3deg, */
/*       transparent 19%, */
/*       rgba(var(--color-primary-rgb), 0.9) 19%, */
/*       rgba(var(--color-primary-rgb), 0.9) 65%, */
/*       transparent 65% */
/*     ), */
/*     rgba(var(--color-primary-rgb), 0.7); */
/*   color: var(--color-dark); */
/* } */

.home__posts h2 {
  font-weight: 700;
  font-size: var(--size-step-2);
  margin-block-start: 0;
  /* margin-block-end: var(--space-l); */
}

/* .home__journal h2 { */
/*   transform: rotate(1.125deg); */
/* } */
/**/
/* .home__links h2 { */
/*   transform: rotate(-1deg); */
/* } */

.home__posts {
  margin-block-end: var(--space-m);
}

.home__posts .sidebar {
  --sidebar-target-width: 35ch;
  --sidebar-content-min-width: 60%;
}

.home__journal {
  padding-block: var(--space-l);
}

.home__link-posts {
  container-type: inline-size;
}

.home__links {
  position: relative;
  padding-block: var(--space-l);
  padding-inline: var(--gutter);
  border-inline-start: 1px solid var(--color-dark-gray);
}

@container (width > 50vi) {
  .home__links {
    /* border-block-start: 1px solid var(--color-dark-gray); */
    border-inline-start: none;
    padding-inline: 0;
  }
}
