.post-list li {
  --space: var(--gutter);
  max-width: 100%;
  padding-block-start: var(--gutter);
}

.post-list li + li {
  border-block-start: 1px solid var(--color-dark-gray);
}

.post-list .sidebar {
  --sidebar-target-width: 20ch;
  --sidebar-content-min-width: 50%;
}

.post-list__card {
  --space: var(--space-xs);
  --gutter: var(--space-s);
  font-size: var(--size-step-0);
}

.post-list__card h3 {
  font-size: var(--size-step-0);
  font-weight: 500;
  margin-block: 0;
  line-height: 1.4;
}

.post-list__card time {
  font-size: var(--size-step-00);
  text-transform: uppercase;
  color: var(--color-middle);
  font-family: monospace;
}

.post-list__card p {
  margin-block: 0;
}

.list__thumb {
  background-color: var(--color-primary);
  background-image: url("/noise3.png");
  border-radius: 3px;
}

.list__thumb img {
  object-fit: cover;
  object-position: top center;
  filter: saturate(0) contrast(125%);
  mix-blend-mode: multiply;
  border-radius: 3px;
  /* transition: filter 0.3s cubic-bezier(0, 0.55, 0.45, 1); */
}

.post-list__card:hover .list__thumb img {
  filter: none;
  mix-blend-mode: normal;
}
