.post__title {
  font-size: var(--size-step-6);
  letter-spacing: var(--letters-tight);
  line-height: var(--leading-flat);
  margin-block: 0;
  padding-block: var(--space-m);
  font-weight: 900;
}

.post__body {
  --sidebar-target-width: 60ch;
  --sidebar-content-min-width: 40%;
}

.post__content .sidebar {
  --sidebar-target-width: 30ch;
  --sidebar-content-min-width: 55%;
}

.post__feature {
  margin-inline-end: calc(var(--gutter) * -1);
}

.post__feature picture {
  border-start-start-radius: clamp(0rem, -2.4186rem + 9.9225vw, 8rem);
  border-end-start-radius: 0.5rem;
  background-color: var(--color-primary);
  overflow: clip;
}

.post__feature img {
  filter: saturate(0);
  mix-blend-mode: multiply;
}
