{{ define "main" }}
  <section class="list-page">
    <h1>Filed under: {{ .Title }}</h1>
    <ul class="post-list list-reset">
      {{ range (.Paginator 20).Pages }}
        {{ if .Params.image }}
          <li>
            <article class="post-item">
              <div class="post-item__title">
                <h2>
                  {{ .Title }}
                </h2>
                <a
                  aria-label="View post {{ .Title }}"
                  href="{{ .Permalink }}"
                >
                  <time>{{ .Date.Format "January 2, 2006" }}</time>
                </a>
              </div>
              <div class="post-item__img border-radius">
                {{ partial "list-thumb.html" . }}
              </div>
            </article>
          </li>
        {{ else if .Params.href }}
          <li>
            <article class="post-item">
              <div class="post-item__title">
                <h2>{{ .Title }}</h2>
                <a
                  aria-label="View post {{ .Title }}"
                  href="{{ .Permalink }}"
                >
                  <time>{{ .Date.Format "January 2, 2006" }}</time>
                </a>
              </div>
              <div class="post-item__content">
                {{ .Content }}
              </div>
              <span class="post-item__link external-link">
                <a
                  aria-label="Visit {{ .Title }}"
                  href="{{ .Params.href }}"
                >
                  Visit link
                </a>
              </span>
            </article>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    {{ partial "pagination" . }}
  </section>
{{ end }}
