/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

body {
  background-color: #f4f4f4;
  background-image: url("/noise3.png");
  background-size: 300px 300px;
  background-repeat: repeat;
  color: var(--color-light);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  margin: 0;
}

.page-wrap {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  max-inline-size: var(--wrapper-max-width);
  margin-inline: auto;
  background-color: var(--color-dark);
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-repeat: repeat;
}

a {
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 12%;
  text-underline-offset: 12%;
}

.inline-start-auto {
  margin-inline-start: auto;
}

.margin-block-end {
  margin-block-end: var(--margin-block-space, var(--gutter));
}

@view-transition {
  navigation: none;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
