{{ partial "head.html" . }} {{ partial "header.html" . }}
<header class="popout">
    <figure class="content__figure">
        <img src="{{ .Params.image }}" alt="{{ .Params.alt }}" />
        <figcaption>
            <p>{{ .Params.caption }}</p>
        </figcaption>
    </figure>
</header>
<article class="content single--photo stack">
    <h1 class="single--photo__title">{{ .Title }}</h1>
    {{ .Content }}
</article>
<div class="post__meta">
    {{ partial "single-pagination.html" .}}
</div>

{{ partial "footer.html" . }}
