{{ partial "head.html" . }} {{ partial "header.html" . }}

<main>
    <article class="single single--photo">
        <header class="single--photo__header">
            <figure class="single--photo__figure">
                <img src="{{ .Params.image }}" alt="{{ .Params.alt }}" />
                <figcaption>
                    <p>{{ .Params.caption }}</p>
                </figcaption>
            </figure>
        </header>

        <h1 class="single--photo__title">{{ .Title }}</h1>
        <section class="post__body">
            {{ .Content }} {{ partial "post_gallery.html" . }}
        </section>
        {{ partial "post_info.html" . }}
    </article>
    {{ partial "single-pagination.html" .}}
</main>

{{ partial "footer.html" . }}
