{{- $respSizes := slice "375" "640" "960" -}}
{{- $myCloud := "dpmsynxig" -}}
{{- $cloudBase := print "https://res.cloudinary.com/" $myCloud "/image/upload/" -}}
{{- $xFmPart1 := "q_auto,w_" -}}
{{- $xFmPart2 := ",x_0,z_1/" -}}
{{- $pageDir := .Page.File.Dir -}}
{{- $imagePath := print $pageDir -}}


<ol
  class="grid album-list"
  data-layout="halves"
>
  {{ $albums := .Site.Data.music.year2024.albums }}
  {{ range $albums.Favorites }}
    {{ $webpSrc := replaceRE "\\.[^.]+$" ".webp" .src }}
    <li>
      <div class="album-list__item">
        <img
          class="art"
          style="box-shadow: 0 0 60px -18px {{ .color }}; border: 1px solid {{ .color }}"
          {{- $srcset := "" -}}
          {{- range $i, $e := $respSizes -}}
            {{- if $i -}}
              {{- $srcset = print $srcset ", " -}}
            {{- end -}}
            {{- $srcset = print $srcset $cloudBase $xFmPart1 $e $xFmPart2 $imagePath $webpSrc " " $e "w" -}}
          {{- end -}}
          {{ printf "srcset=\"%s\"" $srcset | safeHTMLAttr }}
          src="{{ $cloudBase }}{{ $xFmPart1 }}600{{ $xFmPart2 }}{{ $imagePath }}{{ $webpSrc }}"
          alt="Album artwork for {{ .title }}"
        />
        <h3>{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        <p>Top track: {{ .favorite | markdownify }}</p>
      </div>
    </li>
  {{ end }}
</ol>
