<li class="hr-item">
    <img
        src="{{ .Get "art" }}"
        alt="Album artwork for {{ .Get "title" }} by {{ .Get "artist" }}"
    />
    <div class="hr-info">
        <h4>{{ .Get "artist" }}</h4>
        <span class="hr-title">{{ .Get "title" }}</span>
        <span class="hr-genre">{{ .Get "genre" }}</span>
        <p>{{ .Get "comments" }}</p>
        <span class="external-link">
            Listen to
            <a
                aria-label="{{ .Get "title" }} (opens in new window)"
                href="{{ .Get "songlink" }}"
                rel="noopener"
                target="_blank"
            >
                {{ .Get "title" }}
            </a>
            <span class="link-icon">&#8599;</span>
        </span>
    </div>
</li>
