<div class="hr-item">
    <img
        src="{{ .Get "art" }}"
        alt="Album artwork for {{ .Get "title" }} by {{ .Get "artist" }}"
    />
    <div class="hr-info">
        <h4>{{ .Get "artist" }}</h4>
        <span class="external-link">
            <a
                aria-label="{{ .Get "title" }} (opens in new window)"
                href="{{ .Get "href" }}"
                rel="noopener"
                target="_blank"
            >
                {{ .Get "title" }}
            </a>
            <span class="link-icon">&#8599;</span>
        </span>
        <span class="secondary">{{ .Get "genre" }}</span>
    </div>
</div>
